* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-dark {
    background-color: #75767B;
}


.mt-50 {
    margin-top: 50px;
}

#canvas {
    border: 2px solid black;
}


.card {
    margin: 60px auto;
    border-radius: 1.5rem;
    box-shadow: 0 10px 28px rgba(0, 0, 0, 0.15);
    max-width: 700px;
    padding-left: 40px;
    padding-right: 40px;
}

.form-group {
    margin-bottom: 22px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 1.2rem;
    letter-spacing: 0.01em; }